@import url('https://fonts.googleapis.com/css?family=Arvo');
@import url('https://fonts.googleapis.com/css?family=Hind')

// @import "~bootstrap/scss/bootstrap-reboot"
@import "~bootstrap/scss/bootstrap"

@import "./variables"

@import './flex'

@mixin display-font
	font-family: 'Arvo', serif;

@mixin normal-font
	font-family: 'Hind', sans-serif

h1, h2, h3, h4, h5, h6, .display-font
	+display-font

body
	+normal-font
	color: $black

$sizes: (less: 0.5rem, base: 1rem, small: 2rem, medium: 4rem, large: 6rem, huge: 8rem)

@each $class-name, $operation in (pad: padding, push: margin)
	.#{$class-name}
		@each $direction in (top, bottom, right, left)
			&-#{$direction}

				@each $name, $value in $sizes
					&-#{$name}
						#{$operation}-#{$direction}: $value


.limit
	@each $num in 10, 20, 30, 40, 50, 60, 70
		&-#{$num}
			max-width: $num * 1%

.justify-content-evenly
	justify-content: space-evenly

.fill-width
	width: 100%

.full-height
	height: 100vh

.fill-height
	height: 100%

.text-center
	text-align: center

.page-container
	@extend .container
	@extend .pad-top-huge


svg
	[class$="__st0"]
		opacity: 0.2
		fill: $color-primary-0
	[class$="__st1"]
		opacity: 0.3
		fill: $true-white
	[class$="__st2"]
		opacity: 0.9
		fill: $true-white
	[class$="__st3"]
		opacity: 0.8
		fill: $color-primary-0

	path
		fill: $black
		stroke: transparent


#broken
	svg
		[class$="__st0"]
			opacity: 0.2
			fill: $black
		[class$="__st1"]
			opacity: 0.3
			fill: $color-complement-1
		[class$="__st2"]
			opacity: 0.9
			fill: $true-white
		[class$="__st3"]
			opacity: 0.8
			fill: $black

		path
			fill: $black
			stroke: transparent
